<p>
  <strong>Title:</strong>
  <%= @figure.title %>
</p>
<p>
  <strong>Date:</strong>
  <%= @figure.date %>
</p>
<p>
  <strong>Description:</strong>
  <%= @figure.description %>
</p>

<%= link_to 'Back', figures_path %>
